@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

body {
	background: url('https://tranexus.com/assets/brand/tranexus-logo-white-screen.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  	background-color: rgb(31, 100, 31);
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

a:link, a:visited {
	color:#eee;
}

.blur {
    -webkit-filter: blur(5px) grayscale(50%);
}
