body, html {
    height: 100%;
    margin: 0;
}

.bgimg {
    background-image: url('https://tranexus.com/assets/brand/tranexus-logo-black-wide.png');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #399a39;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
    font-size: 25px;
    -webkit-filter: blur(3.5px);
    filter: blur(3.5px);
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
    color: white;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
    font-size: 25px;
}

hr {
    margin: auto;
    width: 40%;
}
